#log{
    background-image:url("https://media.istockphoto.com/id/1460853312/photo/abstract-connected-dots-and-lines-concept-of-ai-technology-motion-of-digital-data-flow.jpg?s=612x612&w=0&k=20&c=bR6oXBoagK2Yagty_At67Dx_wiYRuKJY3hM_ZHCuIxo=");
    background-size: cover;
    height: 100%;
    padding:20px 0px;
}
#frm{
    backdrop-filter: blur(10px);
    border:2px solid rgb(153, 182, 243);
    border-radius: 10px;
    height:400px;
    width:500px;
    padding: 20px;
    color: white;
    margin-left: 430px;
    margin-top: 40px;
    margin-bottom: 200px;
    box-shadow: 1px 1px 5px white;
}
#email{
    background-color: rgb(26, 26, 88);
    backdrop-filter: blur(10px);
    color: white;
}
#pass{
    background-color: rgb(26, 26, 88);
    backdrop-filter: blur(10px);
    color: white;
}
#frm h1{
    text-align: center;
}